/* ===================================================================
*
*  Bruna Silva Portfolio
*  00-00-2023
*  ------------------------------------------------------------------
*
*  # root - colors
*  # base
*  # typography
*  # lists
*  # preloader
*  # header
*  # home
*  # about
* =================================================================== */

/********** Template CSS **********/
:root {
    --primary: #573585;
    --secondary: #A831F4;
    --light: #F4F7FE;
    --dark: #1f1822;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 700 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(53, 94, 252, .07);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: #fff;
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: #fff;
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #fff;
}

@media screen and (max-width: 991px) {
    .fixed-top {
    background-color: #000;
    }
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #000;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



/* ===================================================================
 * # home
 *
 * -----------------------------------------------------------------*/
.home {
    width: 100%;
    height: 100vh;
    min-height: 792px;
    background-image: url(../images/bckg.png);
    background-color: #000;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.home-text {
    -webkit-transform: translate3d(0, 25rem, 0);
    transform: translate3d(0, 25rem, 0);
    z-index: 1;
}

.home .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.home-disc {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #fff;
}




/* -------------------------------------------------------------------
 * responsive:
 * home
 * ------------------------------------------------------------------- */
@media screen and (max-width:1400px) {
  .home-text h3 {
    font-size: 2.2rem;
  }

  .home-text h1 {
    font-size: 5rem;
  }

}

@media screen and (max-width:1200px) {
  .home-content {
    max-width: 1000px;
  }

  .home-text h3 {
    font-size: 2rem;
  }

  .home-text h1 {
    font-size: 4.17rem;
    -webkit-transform: translate3d(0, 20rem, 0);
    transform: translate3d(0, 20rem, 0);
  }

}

@media screen and (max-width:1024px) {
  .home {
    max-height: 800px;
  }

  .home-text h1 {
    font-size: 4.17rem;
    -webkit-transform: translate3d(0, 20rem, 0);
    transform: translate3d(0, 20rem, 0);
  }

}

@media screen and (max-width:900px) {
  .home-text h1 {
    font-size: 4rem;
  }

  .home-text br {
    display: none;
  }

}

@media screen and (max-width:800px) {
  .home-content {
    width: 88%;
    padding-top: 8rem;
  }

  .home-text h3 {
    font-size: 1.8rem;
  }

  .home-text h1 {
    font-size: 4.17rem;
    -webkit-transform: translate3d(0, 20rem, 0);
    transform: translate3d(0, 20rem, 0);
  }

}

@media screen and (max-width:700px) {
  .home-text h1 {
    font-size: 4.17rem;
    -webkit-transform: translate3d(0, 20rem, 0);
    transform: translate3d(0, 20rem, 0);
  }

}

@media screen and (max-width:600px) {
  .home {
    max-height: none;
  }

  .home-content {
    width: auto;
  }

  .home-text h1 {
    font-size: 4rem;
    -webkit-transform: translate3d(0, 25rem, 0);
    transform: translate3d(0, 25rem, 0);
  }

  .home-scroll {
    font-size: 1.1rem;
    left: 30px;
  }

}

@media screen and (max-width:400px) {
  .home {
    min-height: 656px;
  }

  .home-text h1 {
    font-size: 4.5rem;
  }

}

@media screen and (max-width:350px) {
  .home-text h1 {
    font-size: 4.2rem;
  }

}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}

.subtitle span {
    background-color: #573585;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "montserrat-bold", sans-serif;
    color: #fff;
    padding: 0 0.2rem;
}




/* ===================================================================
 * # about
 *
 * -----------------------------------------------------------------*/




/* ===================================================================
 * # projects
 *
 * -----------------------------------------------------------------*/
.project {
    background-image: url(../images/bckg-projects.png);
    background-color: #000;
    background-size: cover;
    background-position: center;
    position: relative;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    opacity: .6;
}

.project-text {
    position: relative;
}

.card {
    background: linear-gradient(135deg, #000, rgba(255, 255, 255, 0));
    box-shadow: var(--color-shadow--card);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0;
}

.card .card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1.3rem;
}

.card .card-content .card-content--title {
    display: flex;
    justify-content: space-between;
}

.card .card-title {
    letter-spacing: 0.5px;
    margin: 0;
    color: #fff;
}

.card .card-text {
    flex: 1 1 auto;
    margin-bottom: 1.25rem;
    font-size: 18px;
    color: #f2f2f2;
}

.card .card-subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9rem !important;
    color: #f2f2f2;
}

.card .card-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card .card-content .card-content--title .app-icon--open {
    width: 1.4rem;
    margin-left: 1rem;
    cursor: pointer;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 2rem;
}
.app-section .showContent {
    line-height: 1em;
    height: auto;
}
.scrolled-in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}



/* ===================================================================
 * # footer
 *
 * -----------------------------------------------------------------*/
.footer {
    background-color: #000;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 1rem;
    color: #fff;
}

.footer .copyright a {
    color: #fff;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    color: #fff;
    text-decoration: none;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* -------------------------------------------------------------------
 * ## scrollbar
 * ------------------------------------------------------------------- */
 body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #573585;
    border: 3px solid #000;
}
